<div class="container">
  <h1>Hello World!</h1>
  <p><i>ios-heroku-test</i></p>
  <p>JSON location: http://swift-sushi-json.herokuapp.com/sushi.json</p>
  <p>JSON content: {"sushi":["Banana", "Maguro","Hamachi","Uni","Saba","Ebi","Sake","Tai"]}</p>
</div>
