
<div id="show">
	<h1>Todos</h1>
	<ul>
	<% @todos.each do |todo| %>
	  <li>  	
	    <h2><a href="/todo/<%= todo.id %>"><%= todo.text %></a></h2>
	  </li>
	<% end %>
	</ul>
	<a href="/todos/new">New todo</a>
</div>