
<div id="show">
	<h1>Todos</h1>
	<ul>
	<% @todos.each do |todo| %>
	  <li>  	
	    <a href="/todo/<%= todo.id %>"><%= todo.text %></a> ::: 
			<form accept-charset="UTF-8" action="/todo/<% todo.id %>" method="post" id="delete">
			</form>
			<button type="submit" form="delete" value="submit">Delete</button>
	  </li>
	<% end %>
	</ul>
	<a href="/new">New todo</a>
</div>