<h1>Todos</h1>
<div id="show">
	<ul>
	<% @todos.each do |todo| %>
	  <li>  	
	    <h2><a href="/todo/<%= todo.id %>"><%= todo.text %></a></h2>
	  </li>
	<% end %>
	</ul>
</div>
<a href="/new">New todo</a>