
<div id="show">
	<h1>Todos</h1>
	<ul>
	<% @todos.each do |todo| %>
	  <li>  	
	    <a href="/todo/<%= todo.id %>"><%= todo.text %></a>
			<form action="/todo/<%= todo.id %>" method="post">
				<input type="hidden" name="_method" value="delete">
				<input type="submit" value="Delete" class="button">
			</form>
	  </li>
	<% end %>
	</ul>
	<a href="/new">New todo</a>
</div>